{% extends 'layout/layout.html.twig' %}

{% block title %}
    Liste
{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" href="{{ asset('css/liste.css') }}" type="text/css">
{% endblock %}

{% block body_page %}
    <form action="{{ path('liste_produit') }}" method="post">
        <table>
            <tr>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Choix</th>
            </tr>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    {% if produit.quantite is null %}
                        <td>0</td>
                        <td></td>
                    {% else %}
                        <td>{{ produit.quantite }}</td>
                        <td>
                            <label>
                                <select name="{{ produit.id }}">
                                    {% for i in 0..produit.quantite %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Ajouter" />
    </form>
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}