{% extends 'layout/layout.html.twig' %}

{% block title %}
    Panier
{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" href="{{ asset('css/panier.css') }}" type="text/css">
{% endblock %}

{% block body_page %}
    {% if produits is empty %}
        <h1>Votre panier est vide</h1>
    {% else %}
        <table>
            <tr>
                <th>Libellé</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Prix total</th>
                <th>Action</th>
            </tr>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.prixUnitaire * produit.quantite }}</td>
                    <td><a href="{{ path('supprimer', {'produitId': produit.id}) }}"><input type="button" value="Supprimer"/></a></td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td>{{ quantiteTotal }}</td>
                <td>{{ prixTotal }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td><a href="{{ path('acheter') }}"><input type="button" value="Acheter" /></a></td>
                <td><a href="{{ path('vider') }}"><input type="button" value="Vider" /></a></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{# Créé par Yannis Sauzeau et Benjamin Chevais #}